.my-drop-zone {
  border: dotted 3px lightgray;
  text-align: center;
}

.nv-file-over {
  border: dotted 3px red;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: red;
  display: inline-block;
  padding: 0.625rem 1.25rem;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #4b0f31;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.box {
  background-color: #dfc8ca;
  padding: 6.25rem 1.25rem;
  text-align: center;
}

.drag {
  color: palevioletred;
  font-size: 1.75em;
}


/* Default class applied to drop zones on over */

html,
body {
  height: 100%;
}
